<ion-header>
  <ion-toolbar color=primary>
    <ion-title style="text-align:center;">
      TV Shows
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
      <p style="text-align: center;">Newest</p>
      </div>
      <div class="col"> 
      </div>
    </div>
  </div>

  <div class="fixed">
    <ion-list class="list">
      <app-imgtv></app-imgtv>
      <app-imgtv></app-imgtv>
      <app-imgtv></app-imgtv>
    </ion-list>
  </div>

  <div class="container">
      <div class="row">
        <div class="col">
        </div>
        <div class="col">
        <p>Top Rated</p>
        </div>
        <div class="col"> 
        </div>
      </div>
    </div>

    <div class="fixed">
        <ion-list>
          <app-imgtv></app-imgtv>
          <app-imgtv></app-imgtv>
          <app-imgtv></app-imgtv>
        </ion-list>
      </div>

     
 </ion-content>
