.fixed[scrollx=true], div[scrolly=hidden] {
    position: relative;
    overflow: hidden;
  
    ::-webkit-scrollbar {
      display: none;
    }
  }
  
  .fixed[scrollx=true] {
    overflow-x: auto;
  }
  
  .fixed[scrolly=hidden] {
    overflow-y: auto;
  }

.tag{

    border-radius: 25px;
    background: #f35c5c ;
    border: 2px solid rgb(255, 255, 255);
    color: #ffffff;
    margin: auto;
    padding: 6px;
    width: 120px;
    height: 35px;
    text-align: center;
  }

.row{
  padding: 4px;
}