<ion-header>
  <ion-toolbar color=primary>
    <ion-title style="text-align:center;">
      TV Shows
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Enter a keyword" [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)">
  </ion-searchbar>

  <ion-list>
    <ion-item button *ngFor="let item of (result | async)" [routerLink]="['/' , 'series' , item.imdbID]">
      <ion-avatar slot="start">
        <img [src]="item.Poster" *ngIf="item.Poster != 'N/A'">
      </ion-avatar>

      <ion-label text-wrap>
        <h3>{{ item.Title }}</h3>
        {{ item.Year }}
      </ion-label>
    </ion-item>
  </ion-list>

  <h5 class="tag">Top Rated</h5>
  <div *ngFor="let serie of series">
    <ion-card class="tvcard" href="{{serie.link}}">
      <img class="pic" src={{serie.img}} />
      <ion-card-header>
        <ion-card-title style="text-align:center">{{serie.title}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

</ion-content>