<table *ngIf="userDetails" class="table-fill">
    <thead>
        <tr>
            <th colspan="2" class="text-center">User Profile</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>First Name</td>
            <td>{{userDetails.fullName.split(' ')[0]}}</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>{{userDetails.fullName.split(' ')[1]}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{userDetails.email}}</td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <input type="button" (click)="onLogout()" value="Logout" />
            </td>
        </tr>
    </tbody>
</table>


<ion-header>
    <ion-toolbar color=primary>
        <ion-title style="text-align:center;">
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <img src="/assets/images/logo.jpg" alt="" />
        <ion-card-header>
            <ion-card-title>Welcome to TV-Series</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>This is an application that can be used to search information about your favourite movies and tv shows.
            </p>
        </ion-card-content>
    </ion-card>
    <ion-list id="list1" lines="none">
        <ion-item href="https://facebook.com/">
            <ion-icon slot="start" color="medium" name="logo-facebook"></ion-icon>
            <ion-label>Pagina de Facebook</ion-label>
        </ion-item>
        <ion-item href="https://twitter.com/">
            <ion-icon slot="start" color="medium" name="logo-twitter"></ion-icon>
            <ion-label>Pagina de Twitter</ion-label>
        </ion-item>
        <ion-item href="http://omdbapi.com/">
            <ion-icon slot="start" color="medium" name="book"></ion-icon>
            <ion-label>OMDB Website</ion-label>
        </ion-item>
    </ion-list>
</ion-content>