<table *ngIf="userDetails" class="table-fill">
    <thead>
        <tr>
            <th colspan="2" class="text-center">User Profile</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>First Name</td>
            <td>{{userDetails.fullName.split(' ')[0]}}</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>{{userDetails.fullName.split(' ')[1]}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{userDetails.email}}</td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <input type="button" (click)="onLogout()" value="Logout" />
            </td>
        </tr>
    </tbody>
</table>
<ion-header>
    <ion-toolbar color=primary>
        <ion-title style="text-align:center;">
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <img src="/assets/images/logo.jpg" alt="" />
        <ion-card-header>
            <ion-card-title>Welcome to TV-Series</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Now that your app has been created, you'll want to start building out features and components. Check out
                some of the resources below for next steps.</p>
        </ion-card-content>
    </ion-card>
    <ion-list lines="none">
        <ion-item href="https://ionicframework.com/docs/">
            <ion-icon slot="start" color="medium" name="book"></ion-icon>
            <ion-label>Ionic Documentation</ion-label>
        </ion-item>
    </ion-list>
</ion-content>