<div id="login container">

  <br>
  <br>
  <br>
  <h3 style="text-align: center;">Login</h3>
  <br>
  <div class="container">
    <div class="row">
      <div class="col">
      </div>
      <div class="col-6">
        <input id="email" type="text" placeholder="Enter you email address" />
      </div>
      <div class="col">
      </div>
    </div>

    <div class="row">
      <div class="col">
      </div>
      <div class="col-6">
        <input id="password" type="password" placeholder="Enter your password here" />
      </div>
      <div class="col">
      </div>
    </div>
  </div>