<div id="login container">
  <h3>Login</h3>
  <div class="container">
    <div class="row">
      <div class="col">
        <label for="email">Email: </label>
      </div>
      <div class="col">

        <input id="email" type="text" placeholder="Enter you email address" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">

  

    <label for="password">Password: </label>

</div>
<div class="col">
    <input id="password" type="password" placeholder="Enter your password here" />
</div>
  
</div>
