.pic{
    max-height: 37vh;
    object-fit: contain;
    padding: 10px;
}

#btn1{
    border-radius: 25px;
    background: #f35c5c ;
    border: 2px solid rgb(255, 255, 255);
    color: #ffffff;
    margin: auto;
    padding: 1px;
    width: 100px;
    height: 34px;
    text-align: center;
}